<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.mozi.mapper.UserMapper" >

  <resultMap id="BaseResultMap" type="com.mozi.entity.UserSecurityEntity" >
    <id column="u_id" property="id" jdbcType="INTEGER" />
    <result column="u_name" property="username" jdbcType="VARCHAR" />
    <result column="u_password" property="password" jdbcType="VARCHAR" />
  </resultMap>


  	<select id="findByUsername" resultType="com.mozi.entity.UserSecurityEntity"  parameterType="java.lang.String" >
		SELECT
	       u_id as id ,u_password as password ,u_username as username
        FROM
            users
        WHERE users.u_username = #{username}
	</select>


    <select id="findByUserEmail" resultType="com.mozi.entity.UserSecurityEntity"  parameterType="java.lang.String" >
        SELECT
        u_id as id ,u_password as password ,u_username as username
        FROM
        users
        WHERE users.u_email = #{username}
    </select>


    <select id="findUserRolesByUser" resultType="com.mozi.entity.RoleEntity" parameterType="com.mozi.entity.UserSecurityEntity">
        SELECT
            r_id as id,r_name as name,r_flag as flag
        FROM
            roles
        WHERE
            u_id = #{id}
    </select>

    <select id="findURLbyRole" resultType="com.mozi.entity.Permission" parameterType="com.mozi.entity.RoleEntity">
        SELECT p_url as url from permisson where u_role = #{flag}
    </select>

</mapper>